@import url('https://fonts.googleapis.com/css?family=Poppins:400');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.hero-image {
  margin: 40px auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.start-quiz {
  border: 0;
  background-color: #4e4d86;
  border-radius: 30px;
  height: 60px;
  padding: 0 32px;
  color: #fff;
  font-size: 16px;
  transform: translate(-50%, 0);
  position: absolute;
  left: 50%;
}

.navbar {
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
}

.navbar p {
  text-transform: uppercase;
  line-height: 75px;
  margin-bottom: 0;
  margin-left: 15%;
  letter-spacing: 3px;
  color: #212b36;
}